<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css"> 
  <title>New Bunny</title>
</head>
<body>
  <h1>Add New Bunny</h1>
  <form action="/bunnies" method="POST">
    <label>Name: <input type="text" name="name" required></label><br>
    <label>Breed: <input type="text" name="breed" required></label><br>
    <label>Image URL: <input type="text" name="image"></label><br>
    <button type="submit">Add Bunny</button>
  </form>
  <a href="/">Back to all Bunnies</a>
</body>
</html>
