<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bunny Bliss!</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <header>
        <h1>Welcome to Bunny Bliss!</h1>
        <nav>
            <a href="/bunnies">View All Bunnies</a>
            <a href="/bunnies/new">Add a New Bunny</a>
        </nav>
    </header>
    <div class="container">
        <img src="https://imgur.com/RbiuxdE.jpg" alt="Centered Image" class="centered-image">
    </div>
</body>
</html>